project:
  type: website
  output-dir: docs

website:
  title: "Luigi Maglanoc"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: work.qmd
        text: Work
      - href: cv.qmd
        text: CV
      - href: coding-personal.qmd
        text: Coding personal


format:
  html:
    theme: 
      light: flatly
      dark: darkly
    css: styles.css
    toc: true



